In [1]:
import pandas as pd

In [ ]:
# Load CSV as it is
root = '/content/drive/MyDrive/Program/Python/Data ML DL/Datasets/data_cleaning_challenge.csv'
read_csv = pd.read_csv(root)

In [ ]:
# Drop an empty columns
drop_empty_col = read_csv.drop(columns=['Unnamed: 9', 'Unnamed: 10'])

In [ ]:
# Drop NaN value
drop_nan_row = drop_empty_col[drop_empty_col['Row Type'].notna()]

In [6]:
# Number of data iterations
col_values = []
iteration = 0
for i in drop_nan_row['Row Type']:
    if 'first name' in i:
        iteration += 1
    col_values.append(iteration)

In [ ]:
# Add new column and its value
add_iteration_col = drop_nan_row
add_iteration_col['Iterations'] = col_values

In [ ]:
# Exclude row with 'Row Type' as its value
drop_extra_row = add_iteration_col[add_iteration_col['Row Type'] != 'Row Type']

In [14]:
# Make a dataframe consist of name only
name_dataframe = drop_extra_row[drop_extra_row['Row Type'].str.contains('first name')]

In [23]:
# Slice it to make it prettier
name_dataframe = name_dataframe.loc[:, ['Row Type', 'Iter Number', 'Power1', 'Iterations']] # Filter the columns

name_dataframe.rename(columns={'Row Type': 'First Name', 'Iter Number': 'Last Name', 'Power1': 'Date'}, inplace=True)
name_dataframe['First Name'] = name_dataframe['First Name'].str[12:]
name_dataframe['Last Name'] = name_dataframe['Last Name'].str[10:]
name_dataframe['Date'] = name_dataframe['Date'].str[5:]
name_dataframe

      First Name Last Name          Date  Iterations
0         Person     Human   end of time           1
14        Person     Human   end of time           2
28        Person     Human   end of time           3
42        Person     Human   end of time           4
56        Person     Human   end of time           5
...          ...       ...           ...         ...
76309     Person     Human   end of time        5990
76322     Person     Human   end of time        5991
76336     Person     Human   end of time        5992
76350     Person     Human   end of time        5993
76364     Person     Human   end of time        5994

[5994 rows x 4 columns]

In [22]:
# Exclude any rows that contain 'first name' as part or entirity of its value with '~' argument
no_name_dataframe = drop_extra_row[~drop_extra_row['Row Type'].str.contains('first name')]
no_name_dataframe

       Row Type Iter Number Power1 Speed1  ... Effort Weight Torque Iterations
3          Iter           1    360    108  ...    680    442    982          1
4          Iter           2    684    508  ...    249    758    639          1
5          Iter           3    365    126  ...    855    164     86          1
6          Iter           4    764    594  ...    278    674    774          1
7          Iter           5    487     97  ...    779    800    123          1
...         ...         ...    ...    ...  ...    ...    ...    ...        ...
76372      Iter           6    879     73  ...    500    395    863       5994
76373   Average         979    641    531  ...    407    185    439       5994
76374   Maximum         783    172    941  ...    217    963    502       5994
76375  Std.Dev.         221    112    717  ...    561    142    909       5994
76376     Total         429      -      -  ...    847    583    407       5994

[46409 rows x 10 columns]

In [24]:
# Merge it, order by 'Iterations'
pd.merge(left=name_dataframe, right=no_name_dataframe, how='inner', on='Iterations')

      First Name Last Name          Date  ...  Effort Weight Torque
0         Person     Human   end of time  ...     680    442    982
1         Person     Human   end of time  ...     249    758    639
2         Person     Human   end of time  ...     855    164     86
3         Person     Human   end of time  ...     278    674    774
4         Person     Human   end of time  ...     779    800    123
...          ...       ...           ...  ...     ...    ...    ...
46404     Person     Human   end of time  ...     500    395    863
46405     Person     Human   end of time  ...     407    185    439
46406     Person     Human   end of time  ...     217    963    502
46407     Person     Human   end of time  ...     561    142    909
46408     Person     Human   end of time  ...     847    583    407

[46409 rows x 13 columns]