In [68]:
import pandas as pd

file_in = '../../Datasets/indonesia statistic/cpi_inflation_MoM_2006-2021.xls'

df = pd.read_excel(file_in)
first_col = df.columns.values[0]

# Clean the dataset a little bit
df.dropna(subset=[first_col], inplace=True)
df.drop([0, 1], inplace=True) # drop the row by index
df = df.reset_index(drop=True)
df.isna()['Unnamed: 2']

def cpi_dataset_by_year(year):
    try:
        if type(year) == int:
            pass
    except TypeError:
        return f'TypeError: {year} was expected to be an integer!'
    
    col_list = list(df.columns)
    row_idx = range(len(df))
    count = 0
    df_data = []
    for i in col_list[1:]:
        for j in row_idx:
            if df[i][j] == year:
                while count < 13:
                    # .get_loc() is to get index by its name
                    # then .columns[] is to get column name by its index
                    # then we will fetch list of dataframe columns by its result
                    df_data.append([df[df.columns[df.columns.get_loc(i)-1]][j+1], 2021, df[i][j+1]])
                    j += 1
                    count += 1
    return df_data
data_2021 = cpi_dataset_by_year(2021)
df_2021 = pd.DataFrame(data_2021, columns=['Bulan', 'Tahun', 'CPI'])
df_2021

              Bulan  Tahun     CPI
0           Januari   2021  105.95
1          Februari   2021  106.06
2             Maret   2021  106.15
3             April   2021  106.29
4               Mei   2021  106.63
5              Juni   2021  106.46
6              Juli   2021  106.54
7           Agustus   2021  106.57
8         September   2021  106.53
9           Oktober   2021  106.66
10         November   2021  107.05
11         Desember   2021     NaN
12  Tingkat Inflasi   2021     NaN